body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

button {
    all: unset;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* min-height: 100dvh; */
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background-color: #1992D4;
    color: #D8EDF8;
}

.sidebar-title-container {
    display: flex;
    padding-top: 20px;
}

.sidebar-button-icon {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.sidebar-icon {
    width: 20px;
    height: 20px;
    padding: 10px;
}

.sidebar-icon-dashboard {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.sidebar-title {
    grid-row: 1 / 2;
}

.buttons-one {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

.buttons-two {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: column;
}

.upper-header {
    grid-column: 2 / 3;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
}

.search-container {
    display: flex;
    align-items: center;
}

.header-right-buttons-container {
    display: flex;
    gap: 25px;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 30px;
  width: 550px;
  border-radius: 20px;
  background-color: #E2E8F0;
  border: #E2E8F0 solid 1px;
}

.lower-header {
    display: flex;
    justify-content: space-between;
}

.lower-header-profile-container {
    display: flex;
    padding-left: 15px;
    gap: 15px;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.username {
    font-size: 30px;
}

.lower-header-profile-icon {
    height: 70px;
    width: auto;
}

.lower-level-buttons-container{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 15px;
}

.lower-level-button {
    width: 50px;
    height: 20px;
    background-color: #1992D4;
    color: #F9FCFE;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
}

#main-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    background-color: #E2E8F0;
}

#projects-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}

.announcement {
    padding: 10px 5px 10px 5px;
}

.announcement:not(:last-child),
.trending-user-profile:not(:last-child) {
    border-bottom: #E2E8F0 2px solid;
}

.right-side-box {
    background-color: #ffffff;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-bottom: 50px;
}

.trending-user { 
    padding: 20px;
}

.trending-user-icon {
    width: 50px;
    height: auto;
}

.trending-user-profile {
    display: flex;
}

.projects-title {
    grid-row: 1 / 2;
}

.project-box {
    height: 200px;
    width: 100%;
    border-left: 10px solid #F0B631;    
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    box-sizing: border-box;
}

#right-side-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.header-button-icon {
    height: 30px;
    width: auto;
}